.frontPageHeader {
  background-color: rgb(167, 79, 227);
  text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  flex-direction: row;
}

@media all and (min-width: 800px) {
  .content  {flex: 2 0px;}

}

.content {
  background-color: rgb(166, 159, 86);
  text-align: center;
}

.nav-list {
  background-color: rgb(113, 73, 23);
  width: 100%;
}

.frontPageFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(167, 79, 227);
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
